### Mongodb Aggregate And Group
1. avg
2. sum
3. project

In [17]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")  
    
# Access database  
db = client['Students']  
    
# Access collection of the database  
collection = db['StudentDetails']  

data = [ 
    {"user":"Prabhu", "title":"Database", "score":80}, 
    {"user":"Amit",  "title":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Sanjay",  "title":"JavaScript", "score":75}, 
    {"user":"Santhosh",  "title":"Data Science", "score":60},
    {"user":"Prabhu",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [18]:
### Find Amit And Krish Total Subjects
agg_result= collection.aggregate( 
    [
        {"$match" : {"title" : "Database" }}
        ,
        {"$group" :  {"_id" : "$user", "Total" : {"$sum" : "$score"}}}
    ]
    )

In [19]:
for i in agg_result: 
    print(i)

{'_id': 'Prabhu', 'Total': 80}
{'_id': 'Amit', 'Total': 85}

In [20]:
### Calculating the total score based on user
agg_result= collection.aggregate( 
    [
        {"$group" :  {"_id" : "$user", "Total" : {"$sum" : "$score"}}}
    ]
    ) 

for i in agg_result: 
    print(i)

{'_id': 'Santhosh', 'Total': 60}
{'_id': 'Sanjay', 'Total': 75}
{'_id': 'Amit', 'Total': 175}
{'_id': 'Prabhu', 'Total': 175}

In [21]:
### Calculating the avg score based on user
agg_result= collection.aggregate( 
    [
        {"$group" :  {"_id" : "$user", "Total" : {"$avg" : "$score"}}}
    ]
    ) 

for i in agg_result: 
    print(i)

{'_id': 'Santhosh', 'Total': 60.0}
{'_id': 'Sanjay', 'Total': 75.0}
{'_id': 'Prabhu', 'Total': 87.5}
{'_id': 'Amit', 'Total': 87.5}

In [22]:
import datetime as datetime

In [23]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [24]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2021, 2, 12, 16, 32, 17, 975952)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2021, 2, 12, 16, 32, 17, 975952)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2021, 2, 12, 16, 32, 17, 975952)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2021, 2, 12, 16, 32, 17, 975952)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2021, 2, 12, 16, 32, 17, 975952)}]

In [25]:
sales=db['stores']  
sales.insert_many(data)

In [30]:
### Calculating the average quantity And Average Price
agg_result=sales.aggregate(
    [{"$group": {"_id": '$item', 
                 "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}}, 
                 "avgQuantity": { "$avg": "$quantity" }}     
     }
    ]
)
for i in agg_result: 
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}