## Mango Db with Python- Querying Json Documents

In [3]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

db=client['Employee']
empinfo=db.EmpInfo

In [4]:
record={
        'firstname':'Prabhu',
        'lastname':'Rajendren',
        'department':'Analytics',
        'qualification':'BE',
        'age':31
        }
empinfo.insert_one(record)

In [5]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [6]:
empinfo.insert_many(records)

In [7]:
## Simple way of querying
empinfo.find_one()

{'_id': ObjectId('6026a5a2bbf9d3fd13fed1b3'),
 'firstname': 'Prabhu',
 'lastname': 'Rajendren',
 'department': 'Analytics',
 'qualification': 'BE',
 'age': 31}

In [9]:
## Select * from empinfo
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('6026a5a2bbf9d3fd13fed1b3'), 'firstname': 'Prabhu', 'lastname': 'Rajendren', 'department': 'Analytics', 'qualification': 'BE', 'age': 31}
{'_id': ObjectId('6026a5d7bbf9d3fd13fed1b4'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('6026a5d7bbf9d3fd13fed1b5'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('6026a5d7bbf9d3fd13fed1b6'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('6026a5d7bbf9d3fd13fed1b7'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [12]:
## Query the json documents based on equality conditions
# Select * from empinfo where firstname=prabhu

for record in empinfo.find({'firstname':'Prabhu'}):
    print(record)

{'_id': ObjectId('6026a5a2bbf9d3fd13fed1b3'), 'firstname': 'Prabhu', 'lastname': 'Rajendren', 'department': 'Analytics', 'qualification': 'BE', 'age': 31}

In [14]:
## Query documents using query operators($in,$lt,$gt)
for record in empinfo.find({'qualification' :{'$in':('phd','master')}}):
    print(record)

{'_id': ObjectId('6026a5d7bbf9d3fd13fed1b6'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('6026a5d7bbf9d3fd13fed1b7'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [15]:
## And and Query operators
for record in empinfo.find({'qualification':'phd','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('6026a5d7bbf9d3fd13fed1b6'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

In [17]:
## OR operators
for record in empinfo.find({'$or':({'firstname':'Manish'},{'qualification':'BE'})}):
    print(record)

{'_id': ObjectId('6026a5a2bbf9d3fd13fed1b3'), 'firstname': 'Prabhu', 'lastname': 'Rajendren', 'department': 'Analytics', 'qualification': 'BE', 'age': 31}
{'_id': ObjectId('6026a5d7bbf9d3fd13fed1b6'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

In [18]:
inventory=db.inventory

In [19]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [20]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('6026a84fbbf9d3fd13fed1b8'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [21]:
for records in inventory.find({'size.w':  21}):
    print(records)

{'_id': ObjectId('6026a84fbbf9d3fd13fed1b8'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}